.emailForm{
	position :relative;
	width: 740px;
	height: 498px;
	margin: 0 auto;
	padding: 1em;
	box-sizing: border-box;
	background : #FFF url(images/background.jpg);

	display : grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows : 10em 1em 1em 1em;
}

@font-face{
	font-family: 'handwriting';
	src: url('fonts/journal-webfont.woff2') format('woff2'),
	     url('fonts/journal-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'typewriter';
	src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
	     url('fonts/veteran_typewriter-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

label{
	font: .8em "typewriter", sans-serif;
}

input, textarea{
	font: 1.4em/1.5em "handwriting",cursive, sans-serif;
	border: none;
	padding: 0 10px;
	margin :0;
	width: 80%;
	background: none;
}

input:focus, textarea:focus{
	background: :rgba(0,0,0,.1);
	border-radius: 5px;
}

textarea{
	display :block;
	padding: 10px;
	width: 100%;
	height: 90%;
	border-right: 1px solid;
	overflow: auto;
}

button{
	padding : 5px;
	font : bold .6em sans-serif;
	border: 2px solid #333;
	border-radius: 5px;
	background: none;
	cursor : pointer;
	transform: rotate(-1.5deg);
}

button:after{
	content : ">>>";
}

button:hover,
button:focus{
	outline :none;
	background :#000;
	color :#FFF;
}
